<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/suppliers">Suppliers</a>
        <a href="/categories">Categories</a>
        <a href="/employees">Employees</a>
        <a href="/restockorders">Restock Orders</a>
        <a href="/productrestockdetails">Product Restock Details</a>
        <a href="/productssuppliers">Products & Suppliers</a>

    </nav>

    {{{body}}}

</body>
</html>