<h2>Categories</h2>

{{! READ table }}
<table>
    <thead>
        {{! printing the DB attributes for the header }}
        <tr>

            <th>ID</th>
            <th>Category Name</th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the categoryID and categoryName }}
        {{#each categories}}
        <tr>
            <td>{{this.categoryID}}</td>
            <td>{{this.categoryName}}</td>

        </tr>
        {{/each}}
    </tbody>
</table>