<h1>The Game Dam</h1>
<div class="homepageDescription">
    <p>The Game Dam operates from one location, with an average of 15,000 orders per year, 
        and generates around $1,000,050 in total sales before deductions. Our database manages Products, 
        Categories, Restock Orders, Suppliers, and Employees that we order for our inventory. 
        Each product belongs to a category, and we get each product from 3 different suppliers via 
        our restock orders. 
    </p>

    <p>
        With the meteoric rise in popularity of not only video games but also card collecting, we aim to 
        streamline the inventory system to build and enhance customer satisfaction with accurate tracking 
        of our inventory, all while streamlining restocking with our suppliers. Store staff will use this 
        system to track inventory levels, place restocking orders, and ensure that products will remain 
        available for customers. This system, in the future, will set the baseline foundation for an expansion 
        into online sales. 
    </p>
</div>